/* GLOBAL
================================================== */

*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body

h1 {
  i {
    color: black;
  }
}

i {
  color: black;
  min-width: 30px;
}

html {
  color: red;
}