{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Créer un nouvel article</h1>

            {{ include('article/_form.html.twig') }}
        
            <a href="{{ path('app_article_index') }}">Retour a la liste</a>
        </div>
    </div>
</section>
   
{% endblock %}
